@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="bg-light p-5 rounded-3 shadow text-center" style="max-width: 700px; opacity: 0.9;">
        <h1 class="display-5 fw-bold">Welcome to Metric System</h1>
        <p class="fs-5 mt-3">Easily convert from British system to international metric system.</p>
    </div>
</div>

